<div class="container">
  <div class="row section">
    <div class="col-8">
      <h1>I am Stanislav Romanov</h1>
      <p>I am a Web Developer located in Rostov-on-Don, Russia. I currently work as a freelancer.</p>
      <p>I have {{experienceYears}} years commercial experience working with clients from around the world.</p>
      <div class="mb-1">Email: kaermorchen@gmail.com</div>
      <div class="mb-1">Skype: romanov.s.u</div>
      <div class="mb-1 d-flex align-items-center">Social:
        <a href="https://github.com/kaermorchen" target="_blank" alt="Github account" title="Github account" class="d-inline-flex align-items-center">{{mdi-icon "github-circle" class="ml-1"}}</a>
      </div>
    </div>
    <div class="col-4">
      <img src="/assets/images/i.jpg" alt="Stanislav Romanov">
    </div>
  </div>

  <div class="row section">
    <div class="col-4">
      <h2>Skills</h2>
      <p>I have many years experience as a front-end and back-end developer, creating websites, services, and single-page applications of a high quality.</p>
    </div>

    <div class="col-4">
      <h3 class="pt-1">Front-end</h3>
      <p class="mb-0">
        HTML: CSS, SASS, Bootstrap, Foundation<br>
        JS: Native, jQuery, Leaflet.js, D3.js, Lodash, ect.<br>
        SPA: Ember.js, Vue.js, Backbone.js, Mithril.js<br>
        Tools: Node.js, Babel, ESLint, Broccoli, Gulp<br>
        Tests: QUnit
      </p>
    </div>

    <div class="col-4">
      <h3 class="pt-1">Back-end</h3>
      <p class="mb-0">
        Languages: PHP, Node.js, Elixir<br>
        CMS: Drupal 7<br>
        Frameworks: Laravel, Symfony 2, Sails.js, Phoenix<br>
        Databases: MySQL (Percona), SQLite<br>
        Other: Linux, Nginx
      </p>
    </div>
  </div>

  <div class="row section">
    <div class="col-4">
      <h2>Education</h2>
      <p>This is my general education. But I try to learn something new every day.</p>
    </div>

    <div class="col-8">
      <h3 class="pt-1"><a href="https://donstu.ru/en/">DON STATE TECHNICAL UNIVERSITY</a></h3>
      <p>
        2009 - 2013<br>
        Engineer. Systems and Technologies
      </p>

      <h3 class="pt-1"><a href="http://www.sssu.ru/Default.aspx?tabid=816">INSTITUTE OF SERVICE AND BUSINESS</a></h3>
      <p class="mb-0">
        2005 — 2009<br>
        Technician. Computers and Software
      </p>
    </div>
  </div>
</div>
