@import "ember-cli-bootstrap-4/functions";

@import "custom";

@import "ember-cli-bootstrap-4/variables";
@import "ember-cli-bootstrap-4/mixins";
@import "ember-cli-bootstrap-4/root";
@import "ember-cli-bootstrap-4/reboot";
@import "type";
@import "images";
@import "grid";
@import "buttons";
@import "ember-cli-bootstrap-4/breadcrumb";

// Utils
.border { border: $border-width solid $border-color !important; }
.border-bottom { border-bottom: $border-width solid $border-color !important; }

.d-flex { display: flex !important; }

.flex-column { flex-direction: column !important; }
.justify-content-between { justify-content: space-between !important; }
.align-item-end { align-items: flex-end !important; }
.align-items-center { align-items: center !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: map-get($spacers, 1) !important; }
.mb-2 { margin-bottom: map-get($spacers, 2) !important; }
.mb-3 { margin-bottom: map-get($spacers, 3) !important; }
.mb-4 { margin-bottom: map-get($spacers, 4) !important; }
.ml-1 { margin-left: map-get($spacers, 1) !important; }
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-2 {
  margin-top: map-get($spacers, 2) !important;
  margin-bottom: map-get($spacers, 2) !important;
}
.p-2 { padding: map-get($spacers, 2) !important; }
.p-3 { padding: map-get($spacers, 3) !important; }
.pt-1  { padding-top: map-get($spacers, 1) !important; }

@include media-breakpoint-up(md) {
  .mr-md-3 { margin-right: map-get($spacers, 3) !important; }
  .mr-md-auto { margin-right: auto !important; }
  .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .px-md-4 {
    margin-left: map-get($spacers, 4) !important;
    margin-right: map-get($spacers, 4) !important;
  }
}

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-dark { color: $dark !important; }
.text-secondary { color: $secondary !important; }
.font-weight-normal { font-weight: $font-weight-normal !important; }

@import "ember-photoswipe";

// Custom styles
$border: solid $border-width $border-color;

.section {
  padding: map-get($spacers, 5) 0;
  border-bottom: $border;

  &:last-child {
    border-bottom: none;
  }
}

dd {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.fill-gray-500 {
  fill: $gray-500;
}

.fill-white {
  fill: $white;
}

.zoom-in {
  position: absolute;
  top: map-get($spacers, 3);
  right: map-get($spacers, 3);
  fill: $white;
  background-color: $primary;
}
