<h1 class="mt-4 mb-4">Portfolio</h1>

<div class="mb-3">
  Filters:
  {{#each tags as |tag|}}
    <span
      class="badge {{if tag.selected "badge-primary" "badge-light"}} cursor-pointer"
      onclick={{toggle-action "selected" tag}}
    >
      {{tag.name}}
    </span>
  {{/each}}
</div>

<div class="row">
  {{#each filteredProjects as |item|}}
    {{project-preview project=item class="col-4 mb-3"}}
  {{/each}}
</div>
