<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
  <div class="container d-flex justify-content-between">
    <h5 class="my-0 mr-md-auto font-weight-normal">Stanislav Romanov</h5>

    <nav class="my-2 my-md-0 mr-md-3">
      {{!-- <a class="p-2 text-dark" href="#">Hello</a> --}}
    </nav>
  </div>
</div>

<div class="container">
  <div class="row section">
    <div class="col">
      <h1>I am Stanislav Romanov</h1>
      <p>I am a Web Developer located in Rostov-on-Don, Russia. I currently work as a freelancer.</p>

      <div class="mb-1">Email: kaermorchen@gmail.com</div>
      <div class="mb-1">Skype: romanov.s.u</div>
      <div class="mb-1 d-flex align-items-center">Social:
        <a href="https://github.com/kaermorchen" target="_blank" alt="Github account" title="Github account" class="d-inline-flex align-items-center">{{mdi-icon "github-circle" class="ml-1"}}</a>
      </div>
    </div>
    <div class="col-auto">
      <img src="/assets/images/i.jpg" alt="Stanislav Romanov">
    </div>
  </div>

  <div class="row section">
    <div class="col-4">
      <h2>Skills</h2>
      <p>Lorem ipsum</p>
    </div>

    <div class="col-4">
      <h3 class="pt-1">Frontend</h3>
      <p>
        HTML: CSS, SASS, Bootstrap, Foundation<br>
        JS: Native, jQuery, Leaflet.js, D3.js, Lodash, ect.<br>
        SPA: Ember.js, Vue.js, Backbone.js, Mithril.js<br>
        Tools: Node.js, Babel, ESLint, Broccoli, Gulp<br>
        Tests: QUnit
      </p>
    </div>

    <div class="col-4">
      <h3 class="pt-1">Backend</h3>
      <p>
        Languages: PHP, Node.js, Elixir<br>
        CMS: Drupal 7<br>
        Frameworks: Laravel, Symfony 2, Sails.js, Phoenix<br>
        Databases: MySQL (Percona), SQLite<br>
        Other: Linux, Nginx
      </p>
    </div>
  </div>
</div>
