<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <div class="container d-flex justify-content-between">
    <h5 class="my-0 mr-md-auto font-weight-normal">Stanislav Romanov</h5>

    <nav class="my-2 my-md-0 mr-md-3">
      {{!-- <a class="p-2 text-dark" href="#">Hello</a> --}}
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1>I am Stanislav Romanov</h1>
      <p>I am a Web Developer located in Rostov-on-Don, Russia. I currently work as a freelancer.</p>

      <div class="mb-1 d-flex align-items-center">{{mdi-icon "email-outline" class="mr-1"}} kaermorchen@gmail.com</div>
      <div class="mb-1 d-flex align-items-center">{{mdi-icon "skype-business" class="mr-1"}} romanov.s.u</div>
      <div class="mb-1 d-flex align-items-center">{{mdi-icon "github-circle" class="mr-1"}} <a href="https://github.com/kaermorchen" target="_blank">kaermorchen</a></div>
    </div>
    <div class="col-auto">
      <img src="/assets/images/i.jpg" alt="Stanislav Romanov">
    </div>
  </div>
</div>
