{{#each filteredRoutes as |route|}}
  {{#if route.breadcrumb}}
    <li class="breadcrumb-item">
      {{#if
        (and
          route.routeName
          (not-eq route filteredRoutes.lastObject)
        )
      }}
        {{link-to
          route.breadcrumb
          route.routeName
          title=route.breadcrumb
        }}
      {{else}}
        {{route.breadcrumb}}
      {{/if}}
    </li>
  {{/if}}
{{/each}}
