{{#each linkRoutes as |route|}}
  <li class="breadcrumb-item">
    {{link-to
      route.breadcrumb
      route.routeName
      title=route.breadcrumb
    }}
  </li>
{{/each}}

<li class="breadcrumb-item">
  {{filteredRoutes.lastObject.breadcrumb}}
</li>
