{{head-layout}}

<header class="navbar">
  <section class="navbar-section">
    {{link-to "Stanislav Romanov" "index" class="navbar-brand mr-2"}}
  </section>

  <section class="navbar-section">
    {{link-to "Portfolio" "projects" class="btn btn-link"}}
  </section>
</header>

<main class="container" role="main">
  {{outlet}}
</main>
