{{head-layout}}

<header class="container flex items-center">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    {{link-to "Stanislav Romanov" "index"}}
  </h5>

  <nav class="p-3" role="navigation">
    {{link-to "Portfolio" "projects" class="p-3"}}
  </nav>
</header>

<main class="container" role="main">
  {{outlet}}
</main>
