<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow"
>
  <div class="container d-flex align-items-center justify-content-between">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      {{link-to "Stanislav Romanov" "index"}}
    </h5>

    <nav class="my-2 my-md-0 mr-md-3">
      {{link-to "Portfolio" "projects" class="p-2 text-dark"}}
    </nav>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
